<!DOCTYPE html>
<html>
    <head>
        <title>Tim Crowe</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="web chimp, dandelions" />
        <meta name="DC.creator" content="Tim Crowe - http://timmyfury.com" />
        <meta name="DC.publisher" content="Tim Crowe" />
        <meta name="DC.language" content="en" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
        
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

        <link rel="stylesheet" href="./normalize.css" type="text/css">
        <link rel="stylesheet" href="./styles.css" type="text/css">
    </head>

    <body>
        <header>
            <img src="./avatar.jpg" alt="Tim Crowe" />

            <hgroup>
                <h1>Tim Crowe</h1>
                <h2><a href="mailto:tim.crowe@timmyfury.com">tim.crowe@timmyfury.com</a></h2>
                <h2><a href="tel:+1-484-557-9198">(484) 557-9198</a></h2>
                <h2><a href="https://twitter.com/timmyfury">@timmyfury</a></h2>
            </hgroup>

            <nav>
                <ul>
                    <li><a href="#work">Work</a></li>
                    <li><a href="#play">Play</a></li>
                    <li><a href="#school">School</a></li>
                </ul>
            </nav>
        </header>

    {% if page.work %}
        <section id="work">
            <h2>Work</h2>

            {% for experience in page.work %}
                {% include experience.html %}
            {% endfor %}
        </section>
    {% endif %}

    {% if page.play %}
        <section id="play">
            <h2>Play</h2>

            {% for experience in page.play %}
                {% include experience.html %}
            {% endfor %}
        </section>
    {% endif %}

    {% if page.school %}
        <section id="school">
            <h2>School</h2>

            {% for school in page.school %}
                {% include school.html %}
            {% endfor %}
        </section>
    {% endif %}

    {% if site.google_analytics %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        {% endif %}

    </body>
</html>